.content__userProfile{
  display: flex;
  justify-content:space-between;
  margin-bottom: 25px;
  /* background-color: rgb(177, 176, 176); */
  padding: 25px 0 25px;
}
.bg{
  background: inherit;
  overflow: hidden;
  border: 1px solid rgba(43, 43, 43, 0.568);
  border-radius: 15px;
  position: relative;
  margin-bottom: 50px;
}
.bg::before{
  content: '';
  position: absolute;
  background: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
  filter: blur(30px);
}
.content__img{
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  background-image: url(https://pbs.twimg.com/profile_banners/352167265/1443363952/1500x500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0.75px);
  border-radius: 10px;
}
.userProfile__img{
  width: 300px;
  padding: 10px 20px;
  border-radius: 30px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}



