.podrobno{
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 40px;
  cursor: pointer;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  color: rgb(185, 177, 177);
}
.podrobno:hover{
  background-color: antiquewhite;
  transition: 0.5s;
}
 .content__userProfile{
  display: flex;
  justify-content:center;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}

.content__userProfileInfo{
  width: 650px;
  height: 300px;
  font-size: 25px;
  margin-top: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}
.name{
  font-weight: bold;
  margin-bottom: 5px;
  position:relative;
  z-index: 1;
}
.userProfile__href{
  text-decoration: none;
   color: rgb(185, 177, 177);
  position: relative;
  z-index: 1;
  padding-right: 20px;
}
.userProfile__href:hover{
  color: rgb(69, 29, 143);
  transition: 0.5s;
}
.status{
  font-size: 16px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}
.border__bottom{
  border-bottom: 0.5px solid ;
  position: relative;
  margin: 0 10px;
  margin-bottom: 20px;
}
.userProfile__info{
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-right: 20px;

}
.userProfile__data{
  color: rgb(202, 199, 199);
  position: relative;
  z-index: 1;
}
.border__top{
  border-top: 0.5px solid ;
  position: relative;
  margin: 0 10px;
  margin-bottom: 20px;
}
.userInfo{
  display: flex;
  justify-content: space-between;
}
.userInfo__description{
  font-size: 15px;
  padding-right: 30px;
}
.userInfo__number{
  font-size: 25px;
  text-align: center;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}
.userInfo__text{
  cursor: pointer;
  font-size: 18px;
  color: rgb(54, 54, 54);
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
}
.userInfo__text:hover{
  color: rgb(129, 124, 124);
  transition: 0.5s;
}
.userProfile__pod{
  padding-right: 20px;
   color: rgb(255, 255, 255);
}
