.podrobno{
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-top: 40px;
  cursor: pointer;
}
.podrobno:hover{
  background-color: antiquewhite;
}
 .content__userProfile{
  display: flex;
  justify-content:center;
  margin-bottom: 25px;
}
.content__userProfile{
  display: flex;
  margin-bottom: 25px;
}
.content__userProfile-info{

  width: 700px;
  height: 300px;
  font-size: 25px;
  margin-top: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}
.name{
  font-weight: bold;
  margin-bottom: 5px;
}
.userProfile__href{
  text-decoration: none;
  color: rgb(32, 50, 107);
}
.userProfile__href:hover{
  color: rgb(69, 29, 143);
}
.status{
  font-size: 16px;
  margin-bottom: 15px;
}
.border__bottom{
  border-bottom: 0.5px solid ;
  position: relative;
  margin: 0 10px;
  margin-bottom: 20px;
}
.userProfile__info{
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}
.userProfile__data{
  display: flex; 
}
 