.dialogs{
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 30px;
}
.dialogs__item{
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.item{
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
  cursor: pointer;
}
.item:hover{
  color: aqua;
  transition: 0.5s;
}
.dialogs__item .active{
  color: aqua;
}
.bg{
  background: inherit;
  overflow: hidden;
  border: 1px solid rgba(43, 43, 43, 0.568);
  border-radius: 15px;
  position: relative;
  margin-bottom: 50px;
}
.bg::before{
  content: '';
  position: absolute;
  background: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
  filter: blur(10px);
  opacity: 0.9;
  background-color: black;
}
.messages{
  padding: 10px;
  position: relative;
  z-index: 1;
}
.message__item{
  color: #fff;
  font-size: 16px;
  margin-bottom: 15px;
}
.itemLink{
  text-decoration: none;
  color: inherit;
}