.nav{
  grid-area: nav;
  background-color: rgb(119, 51, 207);
  height: 850px;
}
.nav__menu{
  margin-top: 20px;
}
.nav__item{
  padding-bottom: 5px;
}
.nav__item:nth-child(5){
  padding-top: 50px;
}
.nav__item-link{
  padding-bottom: 25px;
  font-size: 25px;
  padding-left: 20px;
  text-decoration: none;
  color: inherit;
  color: rgb(126, 251, 0);
}
.nav__item-link:hover{
  color: rgb(219, 243, 7);
}
