.post__item{
  display: flex;
  margin-bottom: 20px;
  /* background-color: rgb(177, 176, 176); */
 
}
.bg{
  background: inherit;
  overflow: hidden;
  border: 1px solid rgba(43, 43, 43, 0.568);
  border-radius: 15px;
  position: relative;
  margin-bottom: 50px;
}
.bg::before{
  content: '';
  position: absolute;
  background: inherit;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
  filter: blur(100px);
  background-color: grey;
}
.post__profileImg{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}
.post__itemImg{
  width: 300px;
  padding-top: 10px;
  margin-bottom: 20px;
}
.post__title{
  padding-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
   position: relative;
  z-index: 1;
}
.posts__content{
  margin-left: 20px;
  position: relative;
  z-index: 1;
}
.post__preTitle{
  padding-bottom: 15px;
  margin-bottom: 10px;
  font-size: 15px;
   position: relative;
  z-index: 1;
}
