body{
  /* background-color: rgb(218, 211, 211); */
  background-image: url("./images/ios--with--hues-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
}
.app__wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  grid-template-areas: 
  "header header"
  "nav content";
  height: 700px;
}
